.container
{
    width: 100%;
    position: relative;
}
.container img{
    width: 100%;
}
.textContainer
{
    position: absolute;
    top: 150px;
    left: 800px;
    direction: rtl;
}
.textContainer h1{
   
}