.Container img
{
    width:300px ;

}
.Container
{
    margin:10px;
    background-color: #ececec;
    border-radius: 10px;
}
.Container
{
    color: #696969;
    margin: 30px 20px 20px;
}
.Container p{
    color: #f5f5f5;
    margin:  0 25px 20px;
    background-color: rgb(10, 145, 46);
    width: fit-content;
    padding: 5px;
    border-radius: 7px;

}